@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ScrollingLayout</title>
</head>
<body>
    <header class="header" role="banner">
        <div class="masthead">
            <h1>David</h1>
            <hr>
            <h2>follow me at ....</h2>
        </div>
        <span class="scroll-notice"></span>
    </header>
    <div>
        <section class="content-wrapper main-content clear-fix">
        @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - </p>
            </div>
        </div>
    </footer>
       @Scripts.Render("~/bundles/jquery")
       @RenderSection("scripts", required: false)
       @RenderSection("Styles", required: false)
</body>
</html>
